<br>
<button type="button"class="btn btn-primary" (click)="updateEmployee(null)">Add</button>
<table class="table" border="3" >
    <tr>
<th>Id </th>
<th>name</th>
<th>add</th>
<th>Gender</th>
<th>Date</th>
<th>DOJ</th>
<th>Hobbie</th>
<th>cars</th>
<th  colspan="4">Action</th>
</tr>

<tbody>
<tr *ngFor="let item of data,let i=index" >  
    <td>{{item.id}}</td> 
    <td>{{item.name}}</td>
    <td>{{item.address}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.date}}</td>
    <td>{{item.date | age}}</td>
    <td>{{item.hobbie}}</td>
    <td>{{item.cars}}</td>
    <td><button mat-stroked-button color="primary" (click)=" viewsubject(item.subject)">View Subject</button></td>
    <td><button mat-raised-button color="accent" (click)="updateEmployee(item.id)">Update</button></td>
    <td><button  mat-raised-button color="warn"(click)="deleteEmployee(item.id)">Delete</button></td>
    <td><button  mat-raised-button color="primary" (click)="employeeDetails(item.id)">View Details</button></td>
 </tr>
</tbody>
</table>


